.nav-link {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 824px) {
    .nav-link {
        justify-content: flex-start;
    }
}