/* .sticky-button {
    position: sticky;
    bottom: 2rem;
    width: 168px;
    min-height: 56px;
    height: auto;
    border-radius: 9999px;
    background: #424245b3;
    backdrop-filter: blur(7px);
    transition: top 0.3s ease;
    z-index: 1000;
} */

.box {
    width: 168px;
    min-height: 56px;
    height: auto;
    border-radius: '50%';
    background: #424245b3;
    backdrop-filter: blur(7px);
    transition: top 0.3s ease;
    outline-width: 0px;
    outline-style: solid;
    outline-color: #0071E3;
}

.pagination {
    width: 8px;
    height: 8px;
    transition: all 0.3s ease;
}

.pagination.active {
    width: 40px;
}

.slide-text {
    color: #fff;
}